
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="jumbotron">
            <div class="display-5">
                <h1 >{{user.full_name}}
                <button class="btn btn-sm btn-danger float-right mt-3" (click)="delete()">Delete</button>
            </h1>
            </div>
            <p class="lead"></p>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-6">
                    <p>DNI: {{user.dni}}</p>
                    <p>Phone: {{user.phone}}</p>
                    <p>Email: {{user.email}}</p>
                    <p>Addrees: {{user.address+' - '+user.neighborhood+' - '+user.city+' - '+user.state}}</p>
                </div>
                <div class="col-md-6">
                    <p>Salary: {{user.salary}}</p>
                    <p>Others Income: {{user.others_income}}</p>
                    <p>Month Expenses: {{user.month_expenses}}</p>
                    <p>Financial Expences: {{user.financial_expences}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr class="my-4">
                    <p>Created: {{user.created_at}} -- Updated: {{user.updated_at}}</p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col text-center">
                    <a class="btn btn-primary btn-lg" [routerLink]="['/register','update']" role="button">Edit</a>
                </div>
            </div>

          </div>

    </div>
</div>