
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Test Coxti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a  *ngIf="!authService.loggedIn()"
            class="nav-link" [routerLink]="['register','create']" 
            routerLinkActivate="activate">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authService.loggedIn(); else logOut">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActivate="activate">Login</a>
          </li>
        </ng-container>
        <ng-template #logOut>
          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer" (click)="authService.logOut()">Logout</a>
          </li>
        </ng-template>
      </ul>

      
    </div>
  </div>
</nav>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>