    
<form (ngSubmit)="onSubmit()">

    <div class="row" *ngIf="errors">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                <ul>
                   <li *ngFor="let error of errors">
                       {{error.message}}
                   </li> 
                </ul>
              </div>
        </div>
    </div>

    <div class="row">

    <div class="col-md-6">
        <h3>Personal</h3>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input  [(ngModel)]="user.username"
                            name="username"
                            type="text" class="form-control form-control-sm" 
                            placeholder="Enter username">
                </div>
            </div>

            <div class="col-md-8">

                <div class="form-group">
                    <label for="full_name">Full Name *</label>
                    <input  [(ngModel)]="user.full_name"
                            name="full_name"
                            type="text" class="form-control form-control-sm" 
                            placeholder="Enter full name">
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone">DNI *</label>
                    <input  [(ngModel)]="user.dni"
                            type="text" class="form-control form-control-sm" 
                            name="dni" placeholder="Enter DNI">
                </div>
            </div>
            <div class="col-md-6">
                
                <div class="form-group">
                    <label for="phone">Phone *</label>
                    <input  [(ngModel)]="user.phone"
                            type="text" class="form-control form-control-sm" 
                            name="phone" placeholder="Enter phone">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="phone">Email *</label>
                    <input  [(ngModel)]="user.email"
                            (keyup)="validateEmail()"
                            type="email" class="form-control form-control-sm" 
                            name="email" placeholder="Enter email">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email_confirm">Confirm Email *</label>
                    <input  [(ngModel)]="user.email_confirm"
                            (keyup)="validateEmail()"
                            [ngClass]="{'is-valid':validEmail,'is-invalid':!validEmail}"
                            type="email" class="form-control form-control-sm" 
                            name="email_confirm" placeholder="Confirm email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input  [(ngModel)]="user.password"
                            (keyup)="validatePass()"
                            type="password" class="form-control form-control-sm" 
                            name="password" placeholder="Enter password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password_confirm">Confirm Password *</label>
                    <input  [(ngModel)]="user.password_confirm"
                            (keyup)="validatePass()"
                            [ngClass]="{'is-valid':validPass,'is-invalid':!validPass}"
                            type="password" class="form-control form-control-sm" 
                            name="password_confirm" placeholder="Confirm password">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Location</h3>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="state">State</label>
                    <input  [(ngModel)]="user.state"
                            type="text" class="form-control form-control-sm" 
                            name="state" placeholder="Enter state">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="city">City</label>
                    <input  [(ngModel)]="user.city"
                            type="text" class="form-control form-control-sm" 
                            name="city" placeholder="Enter city">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="neighborhood">Neighborhood</label>
                    <input  [(ngModel)]="user.neighborhood"
                            type="text" class="form-control form-control-sm" 
                            name="neighborhood" placeholder="Enter neighborhood">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input  [(ngModel)]="user.address"
                            type="text" class="form-control form-control-sm" 
                            name="address" placeholder="Enter address">
                </div>
            </div>
        </div>

        <h3>Financial</h3>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="salary">Salary</label>
                    <input  [(ngModel)]="user.salary"
                            type="text" class="form-control form-control-sm" 
                            name="salary" placeholder="Enter salary">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="others_income">Others Income</label>
                    <input  [(ngModel)]="user.others_income"
                            type="text" class="form-control form-control-sm" 
                            name="others_income" placeholder="Enter others income">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="month_expenses">Month Expenses</label>
                    <input  [(ngModel)]="user.month_expenses"
                            type="text" class="form-control form-control-sm" 
                            name="month_expenses" placeholder="Enter month expenses">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="financial_expences">Financial Expences</label>
                    <input  [(ngModel)]="user.financial_expences"
                            type="text" class="form-control form-control-sm" 
                            name="financial_expences" placeholder="Enter financial expences">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center mt-3 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>