<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                SignIn
            </div>
            <div class="card-body">
                <form (submit)="onSubmit()">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" 
                            [(ngModel)]="user.email"
                            placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password"  class="form-control" 
                            [(ngModel)]="user.password"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">SignIn</button>
                </form>
            </div>
        </div>
    </div>
</div>